
@{
    ViewData["Title"] = "CartEmpty";
}

<main class="px-3">


    <div class=" py-5 bg-warning">

        <div class="container">

            <div class="card">

                <div class="card-header bg-dark text-warning">Continue Shopping</div>
                <div class="card-body">
                    <div class="row">
                   
                        <div class="col-md-8">
                            <h1 class="text-center">         Cart is empty!! </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>