@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1611078489935-0cb964de46d6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80"
                     class="d-block w-100" height="400">
                <div class="carousel-caption d-none d-md-block">
                    <div class="top-left" style="color:yellow;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Big Shopping Days Deals!!<span class="text-muted">Get up to 10% Cashback</span></h2>
            
                <p class="lead">
                    No Cost EMI, Instant Discount up to ₹3000 with coupon, Headset, Earbuds,
                    Speaker, Warranty Upgrade Offers & more
                    Digital Retialer.Inc offers laptops for all kinds of need- Students, Work, Gaming, 
                    Thin & Light, Premium etc. Buy laptops that fit in your budget and explore best
                </p>
          
        </div>
        <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1523289619259-44358ba02ba5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80"  width="300" height="300" />
        

        </div>
    </div>

    <hr class="featurette-divider">

</body>


<footer>
    <div class="container">
        &copy; 2021 - Digital Retailer .Inc 
    </div>
</footer>
